.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  // padding-top: 16px;
}
.header__container {
  height: 71px;
  display: flex;
  align-items: center;
  @include tablet {
    height: 100px;
  }
}
.logo {
  margin-right: 52px;
  font-family: 'Film P3';
  font-weight: 700;
  font-size: 36px;
  line-height: 39/36;
  letter-spacing: 0.3em;
  color: #ffffff;
  @include tablet {
    margin-right: 87px;
  }
  @include desktop {
    margin-right: 96px;
    font-size: 40px;
  }
}
.nav__list {
  display: flex;
  gap: 20px;
  @include tablet {
    gap: 72px;
  }
  @include desktop {
    gap: 80px;
  }
}
.nav__list {
  display: flex;
  gap: 20px;
  @include tablet {
    gap: 32px;
  }
}
.nav__item {
  display: flex;
  align-items: center;
}
.nav__link {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: $modalBackgroundColor;
  @include tablet {
    font-size: 20px;
  }
}
.nav__link-tel {
  display: inline-flex;
  align-items: center;
  margin-left: 6px;

  @include tablet {
    margin-left: 32px;
  }
  &::before {
    content: '';
    margin-right: 8px;
    background-position: center;
    background-size: cover;
    width: 24px;
    height: 24px;
    background-image: url(../images/main-page/hug.png);
  }
}
.second-hotel-tel,
.nav__link-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: $whiteColor;
}
.second-hotel-tel {
  margin-left: 16px;
}
.span-tel {
  display: none;
  @include tablet {
    display: block;
  }
}
.second-hotel-tel {
  margin-left: 16px;
}
.social__icon {
  fill: $modalBackgroundColor;
}
