<section class="about">
  <div class="container">
    <h2 class="visually-hidden">Про готель</h2>
    <div class="flex-cont about-hotel">
      <div class="slogan-container about-hotel">
        <p class="slogan-slogan ">Amet minim mollit non</p>
        <p class="slogan-name">MIMIHO</p>
        <p class="slogan-text about-hotel">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <img
        class="about-1-img "
        srcset="
          ./images/main-page/about-rest-1x.jpg      460w,
          ./images/main-page/about-rest-2x.jpg      920w,
          ./images/main-page/about-rest-tabl-1x.jpg 350w,
          ./images/main-page/about-rest-tabl-2x.jpg 700w,
          ./images/main-page/about-rest-mob-1x.jpg  244w,
          ./images/main-page/about-rest-mob-2x.jpg  488w
        "
        sizes="
        (min-width: 1280px) 460px, (min-width: 1024px) 350px, (min-width: 200px) 244px, 100vw"
        src="./images/main-page/about-rest-mob-1x.jpg"
        alt="Зал ресторану"
      />
    </div>
    <div class="second-room about-hotel">
      <img
        class="second-room__img"
        srcset="
          ./images/main-page/about-rest2-1x.jpg      460w,
          ./images/main-page/about-rest2-2x.jpg      920w,
          ./images/main-page/about-rest2-tabl-1x.jpg 350w,
          ./images/main-page/about-rest2-tabl-2x.jpg 700w,
          ./images/main-page/about-rest2-mob-1x.jpg  244w,
          ./images/main-page/about-rest2-mob-2x.jpg  488w
        "
        sizes="
        (min-width: 1280px) 460px, (min-width: 1024px) 350px, (min-width: 200px) 244px, 100vw"
        src="./images/main-page/about-rest2-mob-1x.jpg"
        alt="Зал ресторану"
      />
      <p class="second-room__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="slider__wrap about-hotel">
      <ul class="restaurant-about-slider about-hotel">
        <li>
          <img
            class="rest-slider-frame"
            srcset="
              ./images/main-page/slider-about-rest/frame1-1x.jpg      254w,
              ./images/main-page/slider-about-rest/frame1-2x.jpg      508w,
              ./images/main-page/slider-about-rest/frame1-tabl-1x.jpg 194w,
              ./images/main-page/slider-about-rest/frame1-tabl-2x.jpg 388w,
              ./images/main-page/slider-about-rest/frame1-mob-1x.jpg  245w,
              ./images/main-page/slider-about-rest/frame1-mob-2x.jpg  490w
            "
            sizes=" (min-width:
          1280px) 460px, (min-width: 1024px) 350px, (min-width: 200px) 244px,
          100vw"
            src="./images/main-page/slider-about-rest/frame1-mob-1x.jpg"
            alt="Бокали"
          />
        </li>
        <li>
          <img
            class="rest-slider-frame"
            srcset="
              ./images/main-page/slider-about-rest/frame2-1x.jpg      254w,
              ./images/main-page/slider-about-rest/frame2-2x.jpg      508w,
              ./images/main-page/slider-about-rest/frame2-tabl-1x.jpg 194w,
              ./images/main-page/slider-about-rest/frame2-tabl-2x.jpg 388w,
              ./images/main-page/slider-about-rest/frame2-mob-1x.jpg  245w,
              ./images/main-page/slider-about-rest/frame2-mob-2x.jpg  490w
            "
            sizes=" (min-width:
          1280px) 460px, (min-width: 1024px) 350px, (min-width: 200px) 244px,
          100vw"
            src="./images/main-page/slider-about-rest/frame2-mob-1x.jpg"
            alt="Їжа на столі"
          />
        </li>
        <li> 
          <img
            class="rest-slider-frame"
            srcset="
              ./images/main-page/slider-about-rest/frame3-1x.jpg      254w,
              ./images/main-page/slider-about-rest/frame3-2x.jpg      508w,
              ./images/main-page/slider-about-rest/frame3-tabl-1x.jpg 194w,
              ./images/main-page/slider-about-rest/frame3-tabl-2x.jpg 388w,
              ./images/main-page/slider-about-rest/frame3-mob-1x.jpg  245w,
              ./images/main-page/slider-about-rest/frame3-mob-2x.jpg  490w
            "
            sizes=" (min-width:
          1280px) 460px, (min-width: 1024px) 350px, (min-width: 200px) 244px,
          100vw"
            src="./images/main-page/slider-about-rest/frame3-mob-1x.jpg"
            alt="Кухня"
          />
        </li>
      </li>
        <li>
          <img
            class="rest-slider-frame"
            srcset="
              ./images/main-page/slider-about-rest/frame4-1x.jpg      254w,
              ./images/main-page/slider-about-rest/frame4-2x.jpg      508w,
              ./images/main-page/slider-about-rest/frame4-tabl-1x.jpg 194w,
              ./images/main-page/slider-about-rest/frame4-tabl-2x.jpg 388w,
              ./images/main-page/slider-about-rest/frame4-mob-1x.jpg  245w,
              ./images/main-page/slider-about-rest/frame4-mob-2x.jpg  490w
            "
            sizes=" (min-width:
          1280px) 460px, (min-width: 1024px) 350px, (min-width: 200px) 244px,
          100vw"
            src="./images/main-page/slider-about-rest/frame4-mob-1x.jpg"
            alt="Страва з маслинами"
          />
        </li>
      </ul>
   <div class="arrows-block">
        <button type="button" class="left-arrow">
   <svg class="arrow" width="32" height="32">
            <use href="./images/svg.svg#arrow-left" class="arrow-icon"></use>
          </svg>
        </button>
        <button class="right-arrow" type="button">
            <svg class="arrow" width="32" height="32">
            <use href="./images/svg.svg#arrow-right" class="arrow-icon"></use>
          </svg>
        </button>
      </>
  </div>
    </div>
</section>