<section class="rest-ditail">
  <div class="container">
    <div class="rest-ditail__title-block">
      <p class="title-block__pre-title">MIMIHO</p>
      <h2 class="title-block__title">Ресторан</h2>
      <p class="title-block__title-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
<div class="flex-container__rest-ditail">
      <div class="ditail-rest-slider__container">
            <ul class="ditail-rest-slider">
        <li>
          <img
            class="ditail-rest-slider-frame"
            srcset="
              ./images/main-page/slider-ditail-rest/frame1-1x.jpg      1x,
              ./images/main-page/slider-ditail-rest/frame1-2x.jpg      2x"
              
                              alt="Їжа"
          />
        </li>
        <li>
          <img
            class="ditail-rest-slider-frame"
            srcset="
              ./images/main-page/slider-ditail-rest/frame2-1x.jpg      1x,
              ./images/main-page/slider-ditail-rest/frame2-2x.jpg      2x"
              
                              alt="Їжа"
          />
        </li>
       <li>
          <img
            class="ditail-rest-slider-frame"
            srcset="
              ./images/main-page/slider-ditail-rest/frame3-1x.jpg      1x,
              ./images/main-page/slider-ditail-rest/frame3-2x.jpg      2x"
              
                              alt="Їжа"
          />
        </li>
       <li>
          <img
            class="ditail-rest-slider-frame"
            srcset="
              ./images/main-page/slider-ditail-rest/frame4-1x.jpg      1x,
              ./images/main-page/slider-ditail-rest/frame4-2x.jpg      2x"
              
                              alt="Їжа"
          />
        </li>
      </ul>
   <div class="arrows-block__ditail-rest">
        <button type="button" class="left-arrow__ditail-rest">
   <svg class="arrow" width="32" height="32">
            <use href="./images/svg.svg#arrow-left" class="arrow-icon"></use>
          </svg>
        </button>
        <button class="right-arrow__ditail-rest" type="button">
            <svg class="arrow" width="32" height="32">
            <use href="./images/svg.svg#arrow-right" class="arrow-icon"></use>
          </svg>
        </button>
      </>
  </div>
    </div>
    <div class="ditail-rest__block-button">
           <button class="ditail-rest__button small-button" type="button">
        Забронювати столик
      </button>
      <button class="ditail-rest__button small-button" type="button">
        Переглянути меню
      </button>
        </div>
</div>
  </div>
</section>
