<section class="hero">
  <div class="container container__hero">
    <ul class="social social__hero">
      <li class="social__item">
        <a href="https://www.instagram.com/" target="_blank">
          <svg class="social__icon" width="24" height="24">
            <use href="./images/svg.svg#instagram" class="social__icon"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="https://m.facebook.com/login/?locale2=ru_RU" target="_blank">
          <svg class="social__icon" width="24" height="24">
            <use href="./images/svg.svg#fb" class="social__icon"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="https://web.telegram.org/z/" target="_blank">
          <svg class="social__icon" width="24" height="24">
            <use href="./images/svg.svg#telegram" class="social__icon"></use>
          </svg>
        </a>
      </li>
    </ul>
    <address class="address__hero">
      <a href="" class="address__link">
        Україна, м. Полтава, вул. Маршала Бірюзова, 15
      </a>
    </address>
    <h1 class="name">mimiho</h1>
    <h2 class="main-title">Ресторанно-готельний комплекс</h2>
    <p class="slogan">СМАК ЖИТТЯ 24/7</p>
    <div class="order-buttons">
      <button class="hero__button small-button" type="button">
        Забронювати столик
      </button>
      <button class="hero__button small-button" type="button">
        Забронювати номер
      </button>
    </div>
  </div>
</section>
